RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ yapiys/index.php?route_url=$1 [QSA,L]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(index.php)$ yapiys/index.php [QSA,L]

<ifModule mod_headers.c>
    Header set Connection keep-alive
</ifModule>
